body{
  margin: 0;
  padding: 0;
  background-color: rgb(93, 92, 92);
}

::-webkit-scrollbar{
  display: none;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: serif;
}


